.cadence_cv/
.env
Videos/
./CLAUDE.md
.claude/
ml/weights/
*.pt
.DS_Store
**/.DS_Store
__pycache__/
*.pyc
improvements.md
docs/context.md
Learning Rag/
ml/rag/papers
ml/rag/transformer_models/
test.py